*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 187px;
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: #f2f4f7;
  min-height: 17px;
  border: 1px solid #eaecf0;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 58px;
  cursor: pointer;
}

@supports (scrollbar-color: #d9d9d9 #f2f4f7) {
  * {
    scrollbar-color: #d9d9d9 #f2f4f7;
    scrollbar-width: thin;
  }
}

html {
  font-size: 14px;
}

.page {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  padding: 0px 0px 32px;
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: #f2f4f7;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.sidebar {
  width: 20%;
  min-height: 100vh;
  background-color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  position: relative;
}

.header {
  width: calc(100% - 1px);
  height: 20%;
  background-color: #ffffff;
  border-bottom: 1px solid #eaecf0;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border-bottom: 1px solid #eaecf0;
  border-left: 1px solid #eaecf0;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.header__form {
  width: 80%;
  display: flex;
}

.form__input {
  border: 1px solid #eaecf0;
  width: 100%;
  border-radius: 4px;
  padding: 12px 16px 12px 44px;
  background: transparent url("../assets/icons/search.svg") no-repeat 13px
    center;
  margin: 10px 32px;
}

.form__input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.form__input:focus {
  border-color: #282828;
}

.sidebar__content {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
}

.content__logo {
  height: 23px;
  align-self: flex-start;
}

.summary__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: 1px;
}

.details__summary {
  text-align: left;
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
}

.details {
  height: fit-content;
  margin-bottom: 24px;
}

ul.content-part__list:last-of-type {
  padding-bottom: 32px;
}

.details__summary::before {
  content: url("../assets/icons/arrow-down-inactive.svg");
  display: inline-block;
  position: absolute;
  right: 0;
}

.details[open] .details__summary::before {
  content: url("../assets/icons/arrow-up.svg");
}

.content-part__first {
  padding-top: 54px;
}

.content-part__title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #9d9fa1;
  line-height: 20px;
  padding-bottom: 16px;
}

.summary__title {
  font-size: 1rem;
  color: #5f6980;
}

.item__link {
  font-size: 1rem;
  color: #5f6980;
}

.links__item {
  padding-bottom: 12px;
}

.text_active {
  color: #282828;
}

.summary__links {
  padding-top: 16px;
  padding-left: 28px;
}

.sidebar__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 44px;
  background-color: #ffffff;
  border-top: 1px solid #eaecf0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}

.sidebar__footer-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dot_red {
  width: 7px;
  height: 7px;
  position: absolute;
  top: calc(0% - 7px / 2);
  right: calc(0% - 7px / 2);
  border-radius: 50%;
  background-color: #e25563;
  overflow: visible;
}

.header__widgets {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widgets__item {
  display: block;
  margin-right: 32px;
  position: relative;
}

.widgets__item_icon {
  width: 24px;
  height: 24px;
}

.widgets__item_avatar {
  width: 40px;
  height: 40px;
}

.header_logo {
  display: none;
}

.main {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__content {
  width: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.banner {
  margin-top: 32px;
  background-color: #282828;
  width: 100%;
  border-radius: 16px;
}

.banner__title {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 16px;
}

.banner__text {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
}

.banner__button {
  background-color: #ffffff;
  color: #282828;
  padding: 9px 24px;
  border-radius: 39px;
  font-size: 1.15rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.icon_lightning {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  content: url("../assets/icons/lightning.svg");
}

.banner__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px;
}

.main_content_stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.stats__item {
  width: calc(25% - 32px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
}

.stats__item-title {
  font-size: 1.15rem;
  font-weight: 400;
  color: #5f6980;
  padding-bottom: 10px;
}

.stats__item-text {
  font-size: 1.88rem;
  font-weight: 600;
  color: #282828;
}

.stats__item-footer-shift {
  padding: 2px 10px;
  font-size: 0.86rem;
  border-radius: 100px;
  font-weight: 600;
}

.shift_positive {
  background-color: #dcfff5;
  color: #20c997;
}

.shift_negative {
  background-color: #ffe0e3;
  color: #dc3545;
}

.shift_neutral {
  background-color: #f2f4f7;
  color: #5f6980;
}

.stats__item-footer-text {
  font-size: 0.86rem;
  font-weight: 600;
  color: #9d9fa1;
}

.main-content-graph {
  width: 100%;
  height: auto;
  display: flex;

  flex-direction: column;
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
}

.article-header {
  height: 10%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 24px;
  border-bottom: 1px solid #eaecf0;
  box-sizing: border-box;
  border-radius: 12px 12px 0 0;
}

.header__title {
  font-size: 1.13rem;
  font-weight: 600;
}

.graph__content {
  display: flex;
  justify-content: center;
  height: 80%;
  padding: 32px 24px;
  position: relative;
}

.content__y-axis {
  /* height: 90%; */
  width: 3%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 30px;
}

.y-axis__item {
  font-size: 0.86rem;
  font-weight: 400;
  color: #9d9fa1;
  flex: 1 auto;
  /* align-self: flex-end; */
}
.x-axis__item {
  font-size: 0.86rem;
  font-weight: 400;
  color: #9d9fa1;
}

.body__x-axis {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-top: 3px; */
  padding-top: 26px;
}

.content__body {
  width: 97%;
  height: 90%;
}

.body__chart {
  height: 80%;
  min-width: 100%;
  display: flex;
  align-items: center;
  object-fit: fill;
  object-position: center;
  flex-shrink: 0;
  flex-grow: 2;
}

.graph__content img {
  width: 100%;
  height: 88%;
}
.graph__sources {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 24px;
}

.sources__item-icon {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.sources__item-text {
  font-size: 1rem;
  font-weight: 400;
  color: #5f6980;
}

.icon-dot-green {
  content: url("../assets/icons/dot-green.svg");
}
.sources__item {
  padding-right: 32px;
}

.icon-dot-blue {
  content: url("../assets/icons/dot-blue.svg");
}

.table {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.table__container {
  width: 100%;
  color: #5f6980;
  font-size: 1rem;
}

.row__header {
  background-color: #f9fafb;
  font-size: 1rem;
  color: #5f6980;
  padding: 16px 0;
  text-align: left;
  border: none;
}

.icon_app {
  width: 44px;
  height: 44px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
  border-radius: 9.42857px;
  margin-right: 12px;
}

.icon_zeplin {
  content: url("../assets/icons/zeplin-logo.svg");
}
.icon_angular {
  content: url("../assets/icons/angular-logo.svg");
}
.icon_figma {
  content: url("../assets/icons/figma-logo.svg");
}
.icon_meta {
  content: url("../assets/icons/meta-logo.svg");
}
.icon_vue {
  content: url("../assets/icons/vue-logo.svg");
}

.table__cell {
  vertical-align: middle;
  margin: 24px 16px;
}

.source {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 24px;
}
.column_source {
  color: #282828;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 24px;
}

tr {
  border-bottom: 1px solid #eaecf0;
  padding: 16px 24px;
}

.column_status {
  font-weight: 600;
  font-size: 0.86rem;
}

.status_active {
  border-radius: 100px;
  color: #20c997;
  background-color: #dcfff5;
  padding: 2px 10px;
}
.status_pending {
  border-radius: 100px;
  color: #fd7e14;
  background-color: #ffead8;
  padding: 2px 10px;
}
.status_cancelled {
  border-radius: 100px;
  color: #5f6980;
  background-color: #f2f4f7;
  padding: 2px 10px;
}

.table__footer {
  height: 10%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 31px 31px;
  box-sizing: border-box;
  border-radius: 0 0 12px 12px;
}

.footer_pages {
  margin: 0 12px;
}

.arrow_back {
  content: url("../assets/icons/arrow-back.svg");
}
.arrow_forward {
  content: url("../assets/icons/arrow-forward.svg");
}

th,
td {
  width: 16.7%;
}

.table__scroll-wrapper::-webkit-scrollbar {
  width: 187px;
  height: 11px;
}
.body__chart-mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .table__container {
    table-layout: auto;
  }
  th,
  td {
    width: auto;
  }
  .stats__item-footer {
    display: flex;
    flex-direction: column;
  }
  .stats__item-footer-shift {
    flex-grow: 0;
    width: fit-content;
  }

  .stats__item-footer-text {
    margin-top: 10px;
  }

  .main_content_stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 32px;
  }
  .stats__item {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .page {
    background-color: #ffffff;
  }

  .widgets__item_icon {
    display: none;
  }
  .main {
    width: 100%;
  }

  .banner__content {
    flex-direction: column;
    padding: 32px;
    align-items: center;
    justify-content: center;
  }
  .banner__content-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 22px;
  }

  .sidebar {
    display: none;
  }
  .main_content_stats {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 16px;
  }

  .main__content {
    width: calc(100% - 32px);
  }
  .table__scroll-wrapper {
    overflow-x: auto;
  }
  .table__container {
    width: 1200px;
  }
  th,
  td {
    width: 16.7%;
  }
  .banner__content {
    text-align: center;
  }
  .banner__button {
    margin-top: 24px;
    font-size: 1rem;
  }

  .banner__title {
    font-size: 1.86rem;
  }

  .stats__item-footer {
    display: block;
  }

  .header {
    flex-direction: column;
    border: none;
  }
  .header__widgets {
    width: calc(100% - 32px);
    margin: 16px 0;
  }

  .widgets__item {
    margin: 0;
  }

  .header__form {
    order: 2;
    width: calc(100% - 32px);
  }

  .form__input {
    margin: 0;
  }

  .main_content {
    gap: 24px;
  }

  .graph__content {
    padding: 24px 16px;
  }

  .body__chart {
    display: none;
  }
  .body__chart-mobile {
    display: block;
    display: flex;
    align-items: center;
    object-fit: fill;
    object-position: center;
    width: 280px;
    height: 240px;
    flex-shrink: 0;
    flex-grow: 2;
  }

  .graph__sources {
    padding: 24px;
  }

  .content__y-axis {
    margin-right: 8px;
  }
  .icon_lightning {
    width: 18px;
    height: 18px;
    content: url("../assets/icons/lightning-mobile.svg");
  }
  .banner {
    margin-top: 24px;
  }

  .dot_red {
    display: none;
  }

  .widgets__item {
    display: none;
  }
  .header_logo {
    display: block;
    width: 99px;
    height: 30px;
  }

  .avatar {
    display: block;
  }
}
